/* landing-page */
.main-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 2rem;
  background-color: #f1dcaebd;
  gap: 2rem;
}

.site-headline {
  font-size: 2.5rem;
  position: relative;
  display: inline-block;
}

@keyframes expand-border {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.site-headline::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 1px;
  width: 0;
  background: black;
  animation: expand-border 2s forwards;
}

.continents-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.btn {
  padding: 1rem;
  height: 8%;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  text-align: center;
  background-color: #cfb0b0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background-color: #a83939;
  color: white;
}

.continent-button {
  font-size: 1.4rem;
  background-color: rgb(205, 205, 241);
  padding: 1.2rem;
}

.continent-button:hover {
  background-color: rgb(115, 115, 238);
  color: white;
}

.chart-container {
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart {
  cursor: pointer;
}

.countries-container {
  width: 95%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 4rem;
}

.country-button {
  width: 5%;
  height: 10%;
}

.hidden {
  display: none;
}

.error-message{
  color: red;
  font-size: 3rem;
  text-align: center;
  width: 80%;
  height: 20%;
}
